.Rproj.user
.Rhistory
.RData
.Ruserdata
02_small bym mod.R
bash mrf.Rmd
*.graph
data/shapefiles/tl_2010_us_state10.dbf
data/shapefiles/tl_2010_us_state10.prj
data/shapefiles/tl_2010_us_state10.shp
data/shapefiles/tl_2010_us_state10.shp.xml
data/shapefiles/tl_2010_us_state10.shx
